#vse{
    width:1300px;
    background-color:white;
    background-size: 100% 100%;
    position:relative;
    font-family:Segoe UI;
    color:green;
    transform:translateX(-50%);
    left:50%;
}
#zagolovok{
    font-size:50pt;
    margin:5% 10%;
    margin-top:10%;
}
#text{
    font-size:30pt;
    margin:0 10%;
}
#fotografija{
    width:30%;
    position:relative;
    float:right;
    margin-right:25%;
}
#back{
    position:fixed;
    margin-top:10%;
    margin-right:5%;
    top:0;
    right:0;
    width:150px;
}
@media screen and 
(max-width:1300px)
{
    #vse{
        width:100%;
    }
}
@media screen and 
(max-width:800px)
{
    #zagolovok{
        font-size:30pt;
    }
    #fotografija{
        width:40%;
        margin:0 30%;
    }
    #text{
        text-align:center;
        font-size:18pt;
    }
    #back{
        width:20%;
    }
}